* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.App  {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.workspace {
  display: flex;
  flex: 1;
}

.content {
  flex: 1; 
  padding: 1rem;
  background-color: #fff;
  border-top: solid 2px #00C582;
}
